{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Crear frase motivacional {% endblock %}
{% block contenido %}
<!-- Permite la creacion de información de una frase motivacional -->
<div class="col-lg-12" >
  <div class="card">
    <div class="card-body formulario">
      <h2>Crear una nueva frase motivacional</h2>
      <br >
      <br >

    <!-- Campos de una frase motivacional -->
    <div class="form-validation">
      <form  id="nuevaFrase-form" class="form-valide" action="{% url 'nueva_frase' %}"
          method="post"  enctype="multipart/form-data"> {% csrf_token %}
        
        <div class="form-group row">
          <label class="col-lg-2 col-form-label" for="descripcion">
            Descripción<span class="text-danger">*</span></label>
          <div class="col-lg-8">
            <textarea rows="10" 
            cols="50" class="form-control alfanumerico" id="descripcion"
            name="descripcion" maxlength="256" 
            placeholder="Ingrese la descripción del anuncio" 
            required onkeydown="validarLetrasNumeros(event)"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-2 col-form-label" for="img_frase">
            Imagen<span class="text-danger">*</span></label>
          <div class="col-lg-8">
            <input type="FILE" class="form-control" id="img_frase" 
              name="img_frase" required onchange="validarFormatoImagen()"
              accept="image/jpg, image/jpeg, image/png">
          </div>
        </div>

        <div class="form-group row" hidden>
          <label class="col-lg-2 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-8">
            <select class="form-control" id="estado" name="estado">
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
        </div>
        <br >      
        <br >          
        
        <!-- Boton para agregar una nueva frase motivacional -->
        <div class="form-group row">
          <div class="col-lg-12 " align="center">
              <button type="submit" class="btn btn-success">Crear</button>
              <button type="button" class="btn btn-primary" onclick="resetForm()">Limpiar</button>
          </div>
      </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock %}
  
{% block extraScript %}
  <script src="/static/js/scripts/frases.js"></script>
  <script src="/static/js/scripts/refactoring1.js"></script>
{% endblock %}