{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Crear curso {% endblock %}
{% block extraStyle %}

 <style type="text/css">

    .div-dias {
        margin-left: 10px;
    }

    .div-dias input {
        margin-left: 5px;
    }

 </style>


{% endblock %}

{% block contenido %}
<div class="col-lg-12" >
    <div class="card">
        <div class="card-body formulario">
            <h2>Crear un nuevo curso</h2>
            <br />
            <div class="form-validation">
                <form id="nuevoCurso-form"class="form-valide" action="{% url 'nuevo_curso' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="nombreCurso">Nombre<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input  type="text" class="form-control alfanumerico" id="nombreCurso"
                            name="nombreCurso" maxlength="100"
                            placeholder="Ingrese el nombre del curso "
                            required onkeydown="validarLetrasNumerosNombre(event)"
                            autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="descripcion">Descripción<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <textarea
                            rows="10" cols="50" class="form-control alfanumerico"
                            id="descripcion" name="descripcion" maxlength="256"
                            placeholder="Ingrese la descripción del curso" 
                            required onkeydown="validarLetrasNumeros(event)"
                            autocomplete="off"></textarea> 
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="area">Area<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control" id="area" name="area" required>
                                {%for area in area %}
                                    <option value="{{area.pk}}">{{area.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dias">Dias de clase <span class="text-danger">*</span></label>
                        <div class="col-sm-8" style="display: inline-flex;">
                            <div class="div-dias">
                                <input type="checkbox" name="checks[]" value="L"> Lunes <br>
                            </div>
                            <div class="div-dias">
                                <input type="checkbox" name="checks[]" value="M" > Martes<br>
                            </div>
                            <div class="div-dias">
                                <input type="checkbox" name="checks[]" value="Mi" > Miercoles<br>
                            </div>
                            <div class="div-dias">
                                <input type="checkbox" name="checks[]" value="J" > Jueves<br>
                            </div >
                            <div class="div-dias">
                                 <input type="checkbox" name="checks[]" value="V" > Viernes<br>
                            </div>
                            <div class="div-dias">
                                 <input type="checkbox" name="checks[]" value="S" > Sabados 
                            </div>
     
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dias">Horarios de clases <span class="text-danger">*</span></label>
                        <div class="col-sm-10" style="display: inline-flex;">
                                <label class="col-sm-2 col-form-label" for="dias">Hora Inicio <span class="text-danger">*</span></label>
                                <div class=col-sm-2 style="display: inline-flex;">
                                    <input type="time" min="07:00" max="22:00" class="form-control" id="hora-inicio" name="hora-inicio">    
                                </div>
                            
                            
                                <label class="col-sm-2 col-form-label" for="dias">Hora Fin <span class="text-danger">*</span></label>
                                <div class=col-sm-2 style="display: inline-flex;">
                                    <input type="time" min="07:00" max="22:00"  class="form-control" id="hora-fin" name="hora-fin" onchange="validarHoras()" 
                                 required>
                                   
                            
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="pensum">Pénsum<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input type="FILE" class="form-control" id="pensum" name="pensum" accept=".pdf" onchange="validarFormatoArchivo()" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="duracion">Duración<span class="text-danger">*</span></label>
                        <div class="col-sm-2">
                            <input type="number" min="1" class="form-control" id="duracion" name="duracion"  placeholder="Ingrese la duración" required>
                        </div>
                        <select class="form-control-lg" id="tipoDuracion" name="tipoDuracion" required>
                            <option value="S">Semanas</option>
                            <option value="M">Meses</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="costo" id="costo">Costo<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input type="number" min="1" max="999" step="0.01" class="form-control" id="costo" name="costo" placeholder="Ingrese el costo" 
                             required onkeydown="validarCosto()"required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="profesor" id="profesor">Profesor<span class="text-danger">*</span></label>
                        <div class="col-lg-4">
                            <select class="form-control" id="profesor" name="profesor" required>
                                {%for profesor in listaProfesor%}
                                    <option value="{{profesor.pk}}"> {{profesor.nombre}} {{profesor.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="imagen">Imagen<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="imagen" name="imagen" required
                            onchange="validarFormatoImagen()" accept="image/jpg, image/jpeg, image/png">
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="form-group row">
                        <div class="col-lg-12 " align="center">
                            <button type="submit" class="btn btn-success" >Crear</button>
                            <button type="button" class="btn btn-primary" onclick="resetForm()">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

{% block extraScript %}
  <script src="/static/js/scripts/cursos.js"></script>
  <script src="/static/js/scripts/refactoring1.js"></script>
{% endblock %}