{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %}Curso{% endblock %}
{% block extraStyle %}

<style type="text/css">

    .info-curso button  {
       float: right;
       margin-top: 10px;
    }

    

 </style>


{% endblock %}
{% block contenido %}

  
<!-- Contenido -->
<div class="col-lg-12">
  <div class="card">
      <!-- Mostrar mensajes de operaciones CRUD -->
      {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="{{ message.tags }}" align="center"> {% if message.tags %} {% endif %}{{ message }}</p>
                </div>
          {% endfor %}
      {% endif %}
      <!-- Mostrar información de cursos -->
      <div class="info-curso">
          <div class="col-sm-9">
              <h2>Detalle de Cursos</h2>
              <p>Muestra la información de los cursos creados y permite crear nuevos.</p>
              <br />
              <br />
          </div>
          
          <div class="boton-nuevo">
            <a href="/crearCurso"><button 
              type="button" id="nuevo-boton"class="btn btn-success"
              data-title="Nuevo" data-target="#nuevo">Nuevo</button>
            </a> 
          </div>
      </div>

  <div class="table-responsive">
    <table class="table table-hover" id="cursoTable">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col"  width="60px">Editar</th>
                  <th scope="col"  width="60px">Eliminar </th>
              </tr>
          </thead>
          <tbody>
              <!-- Muestro los cursos, descripción -->
              {% for curso in cursos %}
                {% if curso.estado == "Activo" %}
                  <tr>
                  <th scope="row"> {{forloop.counter}}</th>
                  <td class="box-name"><textarea class="box-responsive">{{curso.nombre}}</textarea></td>
                  <td><textarea class="box-responsive">{{curso.descripcion}}</textarea></td>
                  <!-- Botón para editar curso -->
                  <td>
                    <a href="/editarCurso/{{curso.pk}}">
                      <p  title="Editar"><button type="button" class="btn btn-primary" data-title="Editar" data-target="#editar" ><span class="fa fa-edit"></span></button></p>
                    </a>
                  </td>   
                  <!--Botón eliminar curso -->
                  <td>
                    <a href="/eliminarCurso/{{curso.pk}}"class="delete"
                      data-confirm="¿Está seguro de que desea eliminar este curso?">
                      <p  title="Eliminar"><button  type="button" class="btn btn-danger btn sweet-success-cancel" data-title="Eliminar" data-target="#eliminar" ><span class="fa fa-trash"></span></button></p>
                    </a> 
                  </td>  
                </tr>

                {% endif %}
                
              {% endfor %}
          </tbody>
      </table>         
  </div>
</div>
{% endblock %}

{% block extraScript %}
  <script src="/static/js/scripts/cursos.js"></script>
{% endblock %}
