{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %}Anuncios{% endblock %}

{% block contenido %}
<!-- Contenido -->
<div class="col-lg-12">
  <div class="card">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" 
            aria-label="close">&times;</a>
          <p class="{{ message.tags }}" align="center">
            {% if message.tags %} {% endif %}{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Muestra una lista de anuncios -->
    <div class="info-anuncio">
      <div class="col-sm-9">
        <h2>Detalle de Anuncios Publicitarios</h2>
        <p>Muestra la información de los anuncios publicitarios creados y permite crear nuevos.</p>
        <br />
        <br />
      </div> 

      <div class="boton-nuevo">
        <a href="/crearAnuncio"><button 
          type="button" id="nuevo-boton"class="btn btn-success"
          data-title="Nuevo" data-target="#nuevo">Nuevo</button>
        </a>  
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover" id="anuncioTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Fecha Creado</th>
            <th>Fecha Límite</th>
            <th  width="60px">Editar</th>
            <th  width="60px">Eliminar </th>
          </tr>
        </thead>
        
        <tbody>
          <!-- Información de un anuncio-->
          {% for anuncio in anuncios %}
            {% if anuncio.estado == "Activo" %}
              <tr>
                <th scope="row"> {{forloop.counter}}</th>
                <td><textarea class="box-responsive">{{anuncio.descripcion}}</textarea></td>
                <td>{{anuncio.fecha_creado}}</td>
                <td>{{anuncio.fecha_limite}}</td>
                
                
                <!-- Botón para editar la información de un anuncio -->
                <td>
                  <a href="/editarAnuncio/{{anuncio.pk}}">
                    <p  title="Editar"><button type="button" class="btn btn-primary" 
                    data-title="Editar" data-target="#editar" >
                    <span class="fa fa-edit"></span></button></p>
                  </a>
                </td>    
                
                <!-- Botón para eliminar anuncio -->
                <td>
                  <a href="/eliminarAnuncio/{{anuncio.pk}}" class="delete"
                    data-confirm="¿Está seguro de que desea eliminar este anuncio?">
                    <p title="Eliminar"><button  type="button" 
                    class="btn btn-danger" data-title="Eliminar" 
                    data-target="#eliminar"><span class="fa fa-trash"></span>
                    </button></p>
                  </a> 
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>         
    </div>
  </div>
</div>
{% endblock %}

{% block extraScript %}
    <script src="/static/js/scripts/anuncios.js"></script>
{% endblock %}
