{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Editar profesor {% endblock %}
{% block contenido %}
<!-- Permite la edicion del perfil de un profesor -->
<div class="col-lg-12" >
    <div class="card">
        <div class="card-body">
          <h2>Editar profesor</h2>
        <!-- Campos del perfil de un profesor -->
          <div class="form-validation">
            <form id="nuevoProfesor-form" class="form-valide" action="{% url 'modificar_profesor' %}" 
              method="POST"  enctype="multipart/form-data"> {% csrf_token %}
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="nombreProfesor">
                  Nombre<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <input type="text" class="form-control letras" id="nombreProfesor" 
                  name="nombreProfesor" maxlength="20" value="{{ nombre }}"
                  required onkeydown="validarLetras(event)">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="apellidoProfesor">
                  Apellido<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <input type="text" class="form-control letras" id="apellidoProfesor" 
                  name="apellidoProfesor" maxlength="20" value="{{ apellido }}" 
                  required onkeydown="validarLetras(event)">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="titulo">
                  Título<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <input type="text" class="form-control letras" id="titulo" 
                    name="titulo" maxlength="100" value="{{ titulo }}"
                    required onkeydown="validarLetras(event)">
                </div>
              </div>

              <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="img_perfil">
                    Imagen actual</label>
                  <div class="col-lg-6">
                    <p>{{ img_perfil }}</p>
                  </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="img_perfil">
                  Foto<span class="text-danger"></span></label>
                <div class="col-lg-6">
                  <input type="FILE" class="form-control" id="img_perfil" 
                    name="img_perfil" onchange="validarFormatoImagen()"
                    accept="image/jpg, image/jpeg, image/png">
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="frases_personal">
                  Frase Personal<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                    <textarea class="form-control alfanumerico"
                    id="frases_personal" name="frases_personal"
                    maxlength="200" required
                    onkeydown="validarLetrasNumerosFrase(event)">{{ frases_personal }}</textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="biografia">
                  Biografía<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <textarea  style=" height: 100px;" rows="10" 
                    cols="50" class="form-control alfanumerico" id="biografia" 
                    name="biografia" maxlength="256" required 
                    onkeydown="validarLetrasNumerosBiografia(event)">{{ biografia }}</textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="area_especializacion">
                  Área de Especialización<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <select class="form-control" id="area_especializacion" 
                    name="area_especializacion">
                    {% for area in areas %}
                      {% if area.nombre == area_especializacion.nombre %}                         
                        <option selected value="{{area_especializacion.pk}}">{{ area_especializacion.nombre }}
                        </option>
                      {% else %}
                        <option value="{{area.pk}}">{{ area.nombre }}</option>                                        
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="url_linkedin">
                  LinkedIn<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <input type="url" class="form-control" id="url_linkedin" 
                    name="url_linkedin" maxlength="50"
                    placeholder="https://www.linkedin.com/in/user/"
                    value="{{ url_linkedin }}" required
                    onblur="validarLinkedin()">
                </div>
              </div>

              <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="curriculum">
                    Currículum actual</label>
                  <div class="col-lg-6">
                    <p>{{ curriculum }}</p>
                  </div>
              </div>
              
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="curriculum">
                  Currículum<span class="text-danger"></span></label>
                <div class="col-lg-6">
                  <input type="FILE" class="form-control" id="curriculum" 
                    name="curriculum" accept=".pdf" 
                    onchange="validarFormatoArchivo()">
                </div>
              </div>
              
              <div class="form-group row" hidden>
                <label class="col-lg-4 col-form-label" for="estado">
                  Estado<span class="text-danger">*</span></label>
                <div class="col-lg-6">
                  <select class="form-control" id="estado" name="estado">
                    {% if estado == "Activo"%}
                      <option selected value={{estado}}> {{estado}} </option>
                      <option value="Inactivo">Inactivo</option>
                    {% elif estado == "Inactivo" %}
                      <option selected value={{estado}}> {{estado}} </option>
                      <option value="Activo">Activo</option>
                    {% endif %}
                  </select>
                </div>
                <input type="hidden" name="idprofesor" id="idprofesor" 
                  value="{{ idprofesor }}">

              </div>

              
              <!-- Botón para guardar la informacion editada -->
              <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                  <button type="submit" class="btn btn-success">Guardar</button>
                  <button type="button" class="btn btn-primary" onclick="resetForm()">Limpiar</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extraScript %}
  <script src="/static/js/scripts/profesores.js"></script>
{% endblock %}