{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Editar área {% endblock %}
{% block contenido %}
<!-- Permite la edicion de la información de una nueva area de interes -->
<div class="card">
  <h2>Editar área de interés</h2>
  
  <!-- Campos de la información de una nueva area de interes -->
  <div class="card-body">
    <div class="form-validation">
      <form class="form-valide" action="{% url 'modificar_area' %}" 
        method="POST" enctype="multipart/form-data"> {% csrf_token %}

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="nombreArea">
            Nombre<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="text" class="form-control letras" id="nombreArea" 
              name="nombreArea" value="{{ nombre }}" maxlength="30"
              required onkeydown="validarLetras(event)">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="descripcion">
            Descripción<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="textarea"  style=" height: 100px;" rows="10" 
            cols="50" class="form-control alfanumerico" id="descripcion"
            name="descripcion" value="{{ descripcion }}" maxlength="256"
            required onkeydown="validarLetrasNumeros(event)">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="img_area">
            Imagen<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <input type="FILE" class="form-control" id="img_area" 
              name="img_area" required onchange="validarFormatoImagen()"
              accept="image/jpg, image/jpeg, image/png">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-lg-4 col-form-label" for="estado">
            Estado<span class="text-danger">*</span></label>
          <div class="col-lg-6">
            <select class="form-control" id="estado" name="estado">
              {% if estado == "Activo"%}
                <option selected value={{estado}}> {{estado}} </option>
                <option value="Inactivo">Inactivo</option>
              {% elif estado == "Inactivo" %}
                <option selected value={{estado}}> {{estado}} </option>
                <option value="Activo">Activo</option>
              {% endif %}
            </select>
          </div>
          <input type="hidden" name="idarea" id="idarea" value="{{idarea}}" required>
        </div>
        
        <!-- Boton para guardar la informacion editada -->
        <div class="form-group row">
          <div class="col-lg-8 ml-auto">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extraScript %}
<script type="text/javascript">

  function validarLetras(event) {
    var input = document.getElementsByClassName('letras').value;
    var key = event.key;
    var keyCode = event.keyCode;
    var expresion = /^[A-Za-záéíóúÁÉÍÓÚñÑ\s\.\',']+$/;
    
    if(!expresion.test(input+key)){
      alert("Este campo permite solo permite letras.");
      event.preventDefault();
    }
  }

  function validarLetrasNumeros(event){
    var input = document.getElementsByClassName('alfanumerico').value;
    var key = event.key;            // Obtengo la tecla que presiono
    var keyCode = event.keyCode;    // Obtengo el codigo de la tecla
    expresion = /^[A-Z0-9a-záéíóúÁÉÍÓÚñÑ\s\.\',']+$/;
    
    if(!expresion.test(input+key)){
      alert("Este campo permite solo permite letras y números.");
      event.preventDefault();
    }
  }

  function validarFormatoImagen(){
    var extensionImagenes = /(.jpg|.jpeg|.png)$/i;
    var imagen = document.getElementById('img_area');
    var archivo = imagen.value;
    if(!extensionImagenes.test(archivo)){
        console.log(archivo);
        alert("El formato de la imagen no es válido.");
        document.getElementById('img_area').value = "";        
    }
  }
  
</script>
{% endblock %}