{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Reportes {% endblock %}

 {% block extraStyle %}

 <style type="text/css">
     .btn-repo{
        margin-bottom: 4px;
     }

     .div-reportes{
        margin: 20px;
        margin-left: 20px;
    }

    option{
        margin: 2px;
    }

    .reporte{
        margin: 20px;
        padding: 15px;
        border: solid gray 1px;
    }

    .rep-div{
        margin-bottom: 25px; 
    }

    .rep-grafico{
        width: 50%:;
    }

 </style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/reporte.js' %}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        {% for curso in lista_curso %}
        console.log("{{ curso }}");
        {% endfor %}
    });

    function mostrarReporte(tipoRepo){
        var repo1 = $(".reporte-areas-interes");
        var repo2 = $(".reporte-solicitud-registro");
        var repo3 = $(".reporte-cursos-compartidos");

        var cursoId = $("#cursos-select").val();
        if(cursoId != 0){
            
            var nombre_curso = $("#cursos-select option:selected").text();
            $(".nombre-curso").empty();
            $(".nombre-curso").append(nombre_curso);

            if(tipoRepo == 1){
                repo1.css("display","block");
                repo2.css("display","none");
                repo3.css("display","none");
                $(".reporte-error").css("display","none");

            } else if(tipoRepo == 2){
                repo1.css("display","none");
                repo2.css("display","block");
                repo3.css("display","none");
                $(".reporte-error").css("display","none");

            } else if(tipoRepo == 3){
                repo1.css("display","none");
                repo2.css("display","none");
                repo3.css("display","block");
                $(".reporte-error").css("display","none");

            }

        } else {

            if(tipoRepo == 1){
                repo1.css("display","block");
                repo2.css("display","none");
                repo3.css("display","none");

            } else {
                $(".reporte-error").css("display","block");
                repo1.css("display","none");
                repo2.css("display","none");
                repo3.css("display","none");
            
            }

        }

        
    }

    function expoRepo(tipoRepo){

        $.ajax({
            url: {% url 'exportar_reporte' %},
            data: {
              'tipoRepo': tipoRepo
            },
            dataType: 'json'
          });

    }

</script>

{% endblock %}
{% block contenido %}


<div class="div-reportes">
    <h2>Reportes de Cenecu App</h2>
    <div class="select-curso" style="margin-top: 25px;">

      <label>Seleccione un curso: </label>
      <div class="row">
          <div class="col-sm-6">
            <select class="form-control" id="cursos-select" style="height: 100%">
                {% if lista_curso|length > 0 %}
                    <option value="0" > -------------- </option>
                    {% for curso in lista_curso %}
                        <option value="{{ curso.pk }}" >{{ curso.nombre }}</option>
                    {% endfor %}
                {% else %}
                        <option value="0" > No hay cursos disponibles </option>
                {% endif %}
            </select>
          </div>
        </div>
    </div>
    <label style="margin-top: 20px;">Tipo de reporte </label>
    <div class="tipoReporte">
        <button type="button" class="btn btn-default btn-repo" onclick="mostrarReporte(1)">Usuarios por Áreas de Interés</button>
        <button type="button" class="btn btn-default btn-repo" onclick="mostrarReporte(2)">Solicitudes de Registros por Curso</button>
        <button type="button" class="btn btn-default btn-repo" onclick="mostrarReporte(3)">Cursos Compartidos Por Red Social</button>
    </div>

    <div class="reporte reporte-error" style="display: none">
        <h4 style="color:darkred">Es necesario que seleccione un curso para visualizar este reporte</h4>
    </div>
    
    <div class="reporte reporte-areas-interes" style="display: none">
        <h3 style="text-align: center; margin-bottom: 5px">Cantidad de Usuarios por Áreas de Interés</h3>
        <div class="rep-div rep-grafico">
            <canvas id="grafico-usuarios-interes" width="500px"></canvas>
                <script>
                var ctx = document.getElementById("grafico-usuarios-interes").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for d in dict_curso_numerointeres %} "{{ d }}", {% endfor %}],
                    datasets: [{
                        label: '# Usuarios Interesados',
                        data: [{% for d in dict_curso_numerointeres.values %} {{ d }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                 options: {
                    scales: {
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                        }
                    }
                }); 
            </script>   
        </div>
        <div class="rep-div rep-tabla">
            <h1>Falta implementar tabla de datos</h1>
            <p>Tabla de ejemplo usando dataTables</p>
            <div class="tabla-repo">
        <table id="AreasDeInteres" class="displa table table-stripped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Lalala</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>hbi</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>77888877787787</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>ihb86</td>
                    <td>{{curso}}</td>
                    <td value="{{ curso.name }}"></td>
                    <td>lalala</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>{ curso.nombre }}</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>snuidusdbf</td>
                    <td>$103,600</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>
                
            </div>
        </div>
        <div class="rep-div rep-expo">
            <p>
                <button type="button" class="btn btn-success" onclick="expoRepo(1)">Exportar Reporte</button>
            </p>
        </div>
    </div>
    <div class="reporte reporte-solicitud-registro" style="display: none">
        <h3 style="text-align: center; margin-bottom: 5px">Cantidad de Solicitudes de Registros por Curso</h3>
        <h4 style="text-align: center; margin-bottom: 15px">Curso: <span class="nombre-curso"></span></h4>
        <div class="rep-div rep-grafico">
            <canvas id="grafico-usuarios-interes" width="500px"></canvas>
                <script>
                var ctx = document.getElementById("grafico-usuarios-interes").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for d in dict_curso_numerointeres %} "{{ d }}", {% endfor %}],
                    datasets: [{
                        label: '# Usuarios Interesados',
                        data: [{% for d in dict_curso_numerointeres.values %} {{ d }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                 options: {
                    scales: {
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                        }
                    }
                }); 
                </script>   
        </div>
        <div class="rep-div rep-tabla">
            <h1>Falta implementar tabla de datos</h1>
        </div>
        <div class="rep-div rep-expo">
            <p>
                <button type="button" class="btn btn-success">Exportar Reporte</button>
            </p>
        </div>
    </div>
    <div class="reporte reporte-cursos-compartidos" style="display: none">
        <h3 style="text-align: center; margin-bottom: 5px">Cantidad de Cursos Compartidos Por Red Social</h3>
        <h4 style="text-align: center; margin-bottom: 15px">Curso: <span class="nombre-curso"></span></h4>
        <div class="rep-div rep-grafico">
            <canvas id="grafico-usuarios-interes" width="500px"></canvas>
                <script>
                var ctx = document.getElementById("grafico-usuarios-interes").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for d in dict_curso_numerointeres %} "{{ d }}", {% endfor %}],
                    datasets: [{
                        label: '# Usuarios Interesados',
                        data: [{% for d in dict_curso_numerointeres.values %} {{ d }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                 options: {
                    scales: {
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                        }
                    }
                }); 
                </script>   
        </div>
        <div class="rep-div rep-tabla">
            <h1>Falta implementar tabla de datos</h1>
        </div>
        <div class="rep-div rep-expo">
            <p>
                <button type="button" class="btn btn-success">Exportar Reporte</button>
            </p>
        </div>
    </div>
</div>




{% comment %}
<div class="col-sm-6" >
    <div class="card">
         <div class="card-body"">
            <h3 style="text-align: center; margin-bottom: 5px">Usuarios por Áreas de Interés</h3>
            <br>
            <canvas id="grafico-usuarios-interes" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("grafico-usuarios-interes").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for d in dict_curso_numerointeres %} "{{ d }}", {% endfor %}],
                    datasets: [{
                        label: '# Usuarios Interesados',
                        data: [{% for d in dict_curso_numerointeres.values %} {{ d }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                 options: {
                    scales: {
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                        }
                    }
                }); 
                </script>   
                
            </div>
        </div>
    </div>
<div class="col-sm-6" >
    <div class="card">
         <div class="card-body"">
            <h2 > Solicitudes de Registros por Curso </h2>
            <br>
            <canvas id="grafico-solicitudes-registro" width="400" height="400"></canvas>
                <script>
                var ctx = document.getElementById("grafico-solicitudes-registro").getContext('2d');
                var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for clave in dict_curso_numregistro %} "{{ clave }}", {% endfor %}],
                    datasets: [{
                        label: '# Usuarios Interesados',
                        data: [{% for valor in dict_curso_numregistro.values %} {{ valor}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(124, 252, 0,0.2)',
                            'rgba(235, 215, 0,0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(124, 252, 0,1)',
                            'rgba(235, 215, 0,1)'
                        ],
                        borderWidth: 1
                    }]
                },
                 options: {
                    scales: {
                        yAxes: [{
                            display: false,
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                        }
                    }
                }); 
                </script>   
                
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
             <div class="card-body"">
                
                <br>
                <canvas id="myChart" width="300" height="200"></canvas>
                <script>
                    var barChartData = {
                          labels: [{% for clave in dict_curso_red_compartida %} "{{ clave }}", {% endfor %}],
                          datasets: [{
                            type: 'bar',
                            label: 'Twitter',
                            id: "y-axis-0",
                            backgroundColor: "rgba(91,192,222)",
                            data: [{% for tw in dict_curso_red_compartida.values %} {{ tw.0 }}, {% endfor %}]
                          }, {
                            type: 'bar',
                            label: 'Facebook',
                            id: "y-axis-1",
                            backgroundColor: "rgba(2,117,216)",
                            data: [{% for fb in dict_curso_red_compartida.values %} {{ fb.1 }}, {% endfor %}]
                          }, {
                            type: 'bar',
                            label: 'Whatsapp',
                            id: "y-axis-2",
                            backgroundColor: "rgba(92,184,92)",
                            data: [{% for wa in dict_curso_red_compartida.values %} {{ wa.2 }}, {% endfor %}]
                          }]
                    };
                    var ctx = document.getElementById("myChart");
                    var ch = new Chart(ctx, {
                      type: 'bar',
                      data: barChartData,
                      options: {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Cursos compartidos por red social'
                                        },
                                        tooltips: {
                                            mode: 'index',
                                            intersect: false
                                        },
                                        scales: {
                                            yAxes: [{
                                                type: 'linear', 
                                                display: false,
                                                position: 'left',
                                                id: 'y-axis-1',
                                            }, {
                                                type: 'linear', 
                                                display: true,
                                                position: 'right',
                                                id: 'y-axis-2',
                                                gridLines: {
                                                    drawOnChartArea: false
                                                }
                                            }],
                                        }
                                    }
                    });
                </script>
        </div>
    </div>
</div>
{% endcomment %}


{% endblock %}

{% block extraScript %}
<script src="{% static 'js/reporte.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('table#AreasDeInteres').DataTable();
    } );
</script>

{% endblock %}


