{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Reportes {% endblock %}
{% block extraStyle %}

 <style type="text/css">
     .btn-repo{
        margin-bottom: 4px;
     }

     .div-reportes{
        margin: 20px;
        margin-left: 20px;
        width: 500px;
    }

    option{
        margin: 2px;
    }

    
    .rep-div{
        margin-bottom: 25px; 
    }

    .rep-grafico{
        width: 80%;
    }

 </style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/reporte.js' %}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        {% for curso in lista_curso %}
        	console.log("{{ curso }}");
        {% endfor %}
    });
</script>

{% endblock %}
{% block contenido %}
<div class="reporte reporte-areas-interes">
	<div class="col-lg-12" >
        <div class="card">
            <div class="card-body">
			<h3 style="text-align: center; margin-bottom: 5px">Cantidad de Usuarios por Áreas de Interés</h3>
			<div class="rep-div rep-grafico">
			    <canvas id="grafico-usuarios-interes" style="align-items: center;"></canvas>
			        <script>
			        var ctx = document.getElementById("grafico-usuarios-interes").getContext('2d');
			        var myChart = new Chart(ctx, {
			        type: 'pie',
			        data: {
			            labels: [{% for d in dict_curso_numerointeres %} "{{ d }}", {% endfor %}],
			            datasets: [{
			                label: '# Usuarios Interesados',
			                data: [{% for d in dict_curso_numerointeres.values %} {{ d.cantidad }}, {% endfor %}],
			                backgroundColor: [
			                    'rgba(255, 99, 132, 1)',
			                    'rgba(54, 162, 235, 1)',
			                    'rgba(255, 206, 86, 1)',
			                    'rgba(75, 192, 192, 1)',
			                    'rgba(153, 102, 255, 1)',
			                    'rgba(255, 159, 64, 1)'
			                ],
			                borderColor: [
			                    'rgba(255,99,132,1)',
			                    'rgba(54, 162, 235, 1)',
			                    'rgba(255, 206, 86, 1)',
			                    'rgba(75, 192, 192, 1)',
			                    'rgba(153, 102, 255, 1)',
			                    'rgba(255, 159, 64, 1)'
			                ],
			                borderWidth: 1
			            }]
			        },
			         options: {
			            scales: {
			                yAxes: [{
			                    display: false,
			                    ticks: {
			                        beginAtZero:true
			                    }
			                }]
			                }
			            }
			        }); 
			        </script>   
			</div>
			<div class="rep-div rep-tabla">
			  <div class="tabla-repo">

				<table id="AreasDeInteres" class="displa table table-striped table-bordered" style="width:100%">
				    <thead>
				        <tr>
				            <th>Área de Interés</th>
				            <th>Cantidad de estudiante</th>
				            <th>Porcentaje de estudiante</th>
				        </tr>
				    </thead>
				    <tbody>	
				  		{% for area, valor in dict_curso_numerointeres.items %}
				        <tr>
				        	<td>{{area}}</td>
				        	<td>{{valor.cantidad}}</td>
				        	<td>{{valor.porcentaje|floatformat:2}} % </td>
				        </tr>
				        {% endfor %}
				    </tbody>
				    <tfoot>
				        <tr>
				            <th>Área de Interés</th>
				            <th>Cantidad de estudiante</th>
				            <th>Porcentaje de estudiante</th>
				        </tr>
				    </tfoot>
				</table>
			        
			  </div>
			</div>
			<div class="rep-div rep-expo">
			    <p style="text-align: center;">
			        <a href="{% url 'reportes_xlsx' reporte=1 curso=0 %}">
			        	<button type="button" class="btn btn-success">Exportar Reporte</button>
			        </a>
			    </p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extraScript %}

<script src="{% static 'js/reporte.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('table#AreasDeInteres').DataTable();
    } );
</script>

{% endblock %}

