{% extends "cenecu_admin/base.html" %}
{% load static %}
{% block titulo %} Reportes {% endblock %}
{% block extraStyle %}


 <style type="text/css">
     .btn-repo{
        margin-bottom: 4px;
     }

     .div-reportes{
        margin: 20px;
        margin-left: 20px;
    }

    option{
        margin: 2px;
    }

    .rep-div{
        margin-bottom: 25px; 
    }

    .rep-grafico{
        width: 80%;
    }

 </style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/reporte.js' %}"></script>

<script type="text/javascript">
</script>

{% endblock %}
{% block contenido %}
<div class="reporte reporte-solicitud-registro">
    <div class="col-lg-12" >
        <div class="card" align="center" >
            <div class="card-body">
                <h3 style="text-align: center; margin-bottom: 5px">Cantidad de Solicitudes de Registros por Curso</h3>
                 {% if total_cursos == 0 %}
                    <h4 style="color: red; text-align: center"> No existen solicitudes de registro en los ultimos 30 dias</h4>
                 {% else %}
                <div class="rep-div rep-grafico">
                     <canvas id="grafico-solicitudes-registro" width="500px"></canvas>
                        <script>
                        var ctx = document.getElementById("grafico-solicitudes-registro").getContext('2d');
                        var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for clave in dict_curso_numregistro %} "{{ clave }}", {% endfor %}],
                            datasets: [{
                                label: '# Solicitudes de Registo por curso',
                                data: [{% for valor in dict_curso_numregistro.values %} {{ valor}}, {% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(124, 252, 0,1)',
                                    'rgba(235, 215, 0,1)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(124, 252, 0,1)',
                                    'rgba(235, 215, 0,1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                         options: {
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero:true,
                                        stepSize: 1 
                                    }
                                }]
                                }
                            }
                        }); 
                        </script>  
                       {% endif %} 
                </div>
                <BR>
                <div class="rep-div rep-tabla">
                    <div class="tabla-repo">
                        <table id="AreasDeInteres" class="displa table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>teléfono</th>
                                    <th>email</th>
                                    <th>fecha solicitud</th>
                                    <th>Curso</th>

                                </tr>
                            </thead>
                            <tbody> 
                                {% for registro in dict_info_tabla %}
                                <tr>
                                    <td>{{registro.usuario_id.id}}</td>
                                    <td>{{registro.usuario_id.username}}</td>
                                    <td>{% for telefono in registro.usuario_id.telefonos_set.all %}
                                         {{telefono.telefonos}},
                                        {% endfor %}</td>
                                    <td>{{registro.usuario_id.email}}</td>
                                    <td>{{registro.usuario_id.date_joined}} </td>
                                    <td>{{registro.curso_id.nombre}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>teléfono</th>
                                    <th>email</th>
                                    <th>fecha solicitud</th>
                                </tr>
                            </tfoot>
                        </table>
                </div>
            </div>
                <div class="rep-div rep-expo">
                    <p style="text-align: center;">
                        <a  href="{% url 'reportes_xlsx' reporte=2 curso=0 %}">
                            <button type="button" class="btn btn-success">Exportar Reporte</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
 </div>
{% endblock %}
{% block extraScript %}

    <script src="{% static 'js/reporte.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('table#AreasDeInteres').DataTable();
        } );
    </script>

{% endblock %}

